
/*@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}*/

/*.transparent {
    background-color: rgba(0,0,0, .0);
    border: 3px solid red;
}*/


/*.green {
    color: #26b67c;
}*/

body {
    font-family: 'Roboto', sans-serif;
    !important;
}

span.yellow {
    color: #FFD400;
}

span.black {
    color: #000;
}

span.blue {
    color: #439AE0;
}

.site-green {
    color: #26cc5c;
}

nav.navbar #all-navbar-links ul.nav .fa {
    font-size: 30px;
}

nav.navbar {
    font-size: 20px;
}

div.jumbotron {
margin-bottom: 0px;
background-color: #fff;
}

div.grey {
    background-color: #f2f1ed;
}

div.green {
    background-color: #26b67c;
    color: #fff;
}

div.white {
    background-color: #000;
    color: #fff;
}

div.black {
    background-color: #000;
    color: #fff !important;
}

div.slide {
    color: rgb(55, 54, 47);
    position: relative;
    left: 0px;
    right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.slide .container .row p {
    margin-bottom: 40px;
}

.slide h1 {
    margin-bottom: 40px;
}



div.intro {
    margin-top: 0;
    padding-top: 0;
    color: #f2f1ed;
}

#intro-slide {
    background: url('/content/images/site/auckland-pano.jpg');
    background-size: cover;
}

@media (min-width: 768px) {
    div.intro h1 {
        font-size: 62px;
        margin-bottom: 40px;
        line-height: 1.2;
    }

    div.intro-title > h1 {
        font-size: 200px;
    }

    div.secondary-title {
    position: absolute;
    bottom: 40px;
    }

    .video {
        width: 640px;
        height: 480px;
    }
}

div.welcome img {
    max-height: 250px;
    width: auto;
    max-width: 100%;
}

@media (max-width:768px) {
    div.video-col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .video {
        width: 100%;
        height: 200px;
    }
}

.team-list {
    margin-top: 50px;
}

.team-list li {
    margin-left: 50px;
    margin-right: 50px;
    min-width: 200px;
}

.team-list li img {
    margin-bottom: 50px;
}

div.slide ul.team-list li p.name {
    font-size: 20px;
    color: #ffd800;
    margin-bottom: 10px;
}

div.slide ul.team-list li p.title {
    margin-top: 0;
}

div.sponsors img.img-responsive {
    display: inline-block;
}

img.sponsor {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    div.sponsors img.img-responsive:nth-child(2) {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (min-width: 768px) {
    .map {
        width: 640px;
        height: 480px;
    }
}

@media (max-width:768px) {
    .map {
        width: 100%;
        height: 200px;
    }
}


span.email-contact {
    unicode-bidi: bidi-override;
    direction: rtl;
}

address {
    font-size: 30px;
}

address i {
    font-size: 40px;
}

body > div.carousel {
    margin: 0;
    padding: 0;
}

img.location-img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
